# This is a basic workflow that is manually triggered

name: build-deploy

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  push:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # Build and deploy all the components
  build-deploy:
    name: Build-and-Deploy
    runs-on: ubuntu-latest

    steps:
      # Get deploy code
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get npm cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      # Build using the custom script (sam build + custom builds)
      - name: Build
        shell: bash
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          TEST_NEO4J_HOST: ${{ secrets.TEST_NEO4J_HOST }}
          TEST_NEO4J_PORT: ${{ secrets.TEST_NEO4J_PORT }}
          TEST_NEO4J_USERNAME: ${{ secrets.TEST_NEO4J_USERNAME }}
          TEST_NEO4J_PASSWORD: ${{ secrets.TEST_NEO4J_PASSWORD }}
          TEST_NEO4J_SCHEME: ${{ secrets.TEST_NEO4J_SCHEME }}
        run: |
          npm ci
          npm run build
          npm run test:e2e
          npm run test:cov

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v2
        id: semantic
        with:
          semantic_version: 18
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
            conventional-changelog-eslint
          branches: |
            ['master']
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: './coverage/lcov.info'
